body {
    background-color:#0a081e;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0f0c34;
}